.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    cursor: pointer;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}